# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.bumpversion.cfg
!.coveragerc
!.flake8
!.gitignore
!.gitkeep
!.travis.yml

# Project artefacts
build
coverage
dist
venv

# Any local makefiles
*.mk
