# Compiled files

__pycache__/
*.py[cod]

# Testing and coverage

.cache/
.pytest_cache
.tox/

.coverage

# Distribution and packaging

build/
dist/

*.egg-info
*.egg

# Environment

.venv/

.envrc
.env

# Development tools

.idea
.make.*
